@import "../../assets/Animations/Animations.module.scss";
@import "../../assets/Mixins/Mixins.module.scss";

.Page {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > * {
    margin-top: 2rem;
  }
}

.Title {
  font-family: "Syne Mono", monospace;
  border: 1px solid var(--cl-yellow);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem var(--cl-orange);
  color: var(--cl-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-self: center;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 85%;
  }

  @include respond(phone) {
    font-size: 0.8rem;
  }

  &:hover {
    box-shadow: 0 2rem 4rem var(--cl-orange);

    @include respond(tab-land) {
      box-shadow: none;
    }
  }
}

.AllBubbles {
  display: grid;
  gap: 5rem;
  margin: 10rem;
  justify-items: center;
  align-items: center;
  grid-template-rows: 15rem;

  &__Five {
    grid-template-areas:
      "a a a . b b b"
      ". . c c c . ."
      "d d d . e e e";

    @include respond(notebook) {
      grid-template-areas:
        "a a b b"
        ". c c ."
        "d d e e";
    }

    @include respond(tab-land) {
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
    }
  }

  &__Six {
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    @include respond(tab-land) {
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    }
  }

  &__1stBubble {
    grid-area: a;
  }

  &__2ndBubble {
    grid-area: b;
  }

  &__3rdBubble {
    grid-area: c;
  }

  &__4thBubble {
    grid-area: d;
  }

  &__5thBubble {
    grid-area: e;
  }

  &__6thBubble {
    grid-area: f;
  }

  &__LeftAnimation {
    animation: fromLeft 2s ease;

    @include respond(tab-land) {
      animation: none;
    }
  }

  &__RightAnimation {
    animation: fromRight 2s ease;

    @include respond(tab-land) {
      animation: none;
    }
  }

  &__CenterAnimation {
    animation: center 2s ease;

    @include respond(tab-land) {
      animation: none;
    }
  }
}

.Hidden {
  display: none;
}

.ArrowContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

  & > *:hover {
    cursor: pointer;
  }

  &__Left {
    margin-left: 5rem;
  }

  &__Right {
    margin-right: 5rem;
  }
}

.Link {
  color: var(--cl-yellow);
  text-decoration: none;
}
