html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  --cl-black: #000;
  --cl-yellow: #ffd500;
  --cl-gold: gold;
  --cl-orange: #e4ae0c;
}

body {
  margin: 0;
  position: relative;
  font-family: "Goldman", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cl-black);
  color: var(--cl-yellow);
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--cl-black);
}

body::-webkit-scrollbar-thumb {
  background: var(--cl-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
